body {
    margin: 0;
    padding: 0;
    background-color: #252b39;
    color: #b0bacd;
    font-family: 'Roboto Slab', serif;
}

#container {
    margin: 0 auto;
    max-width: 1200px;
}

    h1 {
        margin: 0.5em;
        font-weight: normal;
        letter-spacing: 1px;
    }        

    .statusBox { width: 100%; }

        .townRun { height: 78px; }
        .ftHarrison { height: 312px; }
        .rangeline { height: 549px; }
        .southwestway { height: 936px }

        @media only screen and (min-width: 783px) {
            .townRun { height: 48px; }
            .ftHarrison { height: 144px; }
            .rangeline { height: 336px; }
            .southwestway { height: 576px }
        }

    .mtbProject {
        margin: 1em;
        text-align: center;
    }

        .mtbProjectLink {
            color: #b0bacd;
            text-decoration: none;
        }

        .mtbProjectPoweredBy {
            margin-right: 0.5em;
        }

        .mtbProjectLogo {
            height: 25px;
            vertical-align: middle;
        }
