body {
    margin: 0;
    padding: 0;
    background-color: #252b39;
    color: #b0bacd;
    font-family: 'Roboto Slab', serif;
}

h1 {
    margin: 0.5em;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
}        
